<template>
  <div>
    <div v-if="loading">Loading ...</div>
    <div v-else class="container">
      <h3>1. Can take in a prop that display labels.</h3>
      <label>Name: </label>
      <div class="flex"> 
        <RadioButton id="Name1" name="Name" label="John" value="0" v-model="name" />    
        <RadioButton id="Name2" name="Name" label="Michael" value="1" v-model="name" /> 
        <RadioButton id="Name3" name="Name" label="Rachel" value="2" v-model="name" />  
        <RadioButton id="Name4" name="Name" label="Ross" value="3" v-model="name" :disabled="true" />  
      </div>
      <h3>2. Can take text as subcomponent.</h3>
      <div> 
        <RadioButton id="Name11" name="Name1" :label="message1" :value="message1" v-model="message">
          <template slot="radioComponent">
            <Input id="text1" v-model="message1" placeholder="text"/>
          </template>
        </RadioButton>    
        <RadioButton id="Name12" name="Name1" :label="message2" :value="message2" v-model="message">
          <template slot="radioComponent">
            <Input id="text2" v-model="message2" placeholder="text"/>
          </template>
        </RadioButton> 
      </div>
      <h3>3. Can take datepicker as subcomponent.</h3>
      <div>
      <RadioButton id="Date1" name="Date" :label="date1 || 'date'" :value="date1" v-model="date">
        <template slot="radioComponent">
          <Datepicker style="display:inline-block" class="date-picker" v-model="date1"/>
        </template>
      </RadioButton>  
      <RadioButton id="Date2" name="Date" :label="date2 || 'date'" :value="date2" v-model="date">
        <template slot="radioComponent">
          <Datepicker style="display:inline-block" class="date-picker" v-model="date2"/>
        </template>
      </RadioButton>
      </div>
      <h3>4. Can take multiple subcomponents.</h3>
      <div>
      <RadioButton id="customRadio1" name="CustomRadio" :label="date1 || 'date'" value="0" v-model="customRadio">
        <template slot="radioComponent">
          <Input id="text12" v-model="message1" placeholder="text"/><br/><br/>
          <label style="margin: 10px 30px" >Date: </label>
          <Datepicker style="margin: 10px 20px" class="date-picker" v-model="date1"/><br/>
          <label style="margin: 10px 30px" >Enter Text: </label>
          <div class="flex" style="width:50%">
            <Input id="text123" v-model="message2" placeholder="text" style="margin-left: 30px"/>
            <button type="button" style="margin: 10px;background-color: #2525a6;color: #fff">
              Button 1
            </button>
            <button type="button" style="margin: 10px;background-color: #2525a6;color: #fff">
              Button 2
            </button>
          </div>
        </template>
      </RadioButton>  
      <RadioButton id="customRadio12" name="CustomRadio" :label="message3" value="1" v-model="customRadio">
        <template slot="radioComponent">
          <Input id="text3" v-model="message3" placeholder="text"/>
        </template>
      </RadioButton> 
      </div>
    </div>
  </div>
</template>

<script>
import RadioButton from "@/components/common/RadioButton";
import Input from "@/components/common/Input";
import Datepicker from 'vuejs-datepicker';

// import _ from 'lodash';

export default {
  name: "Home",
  components: { RadioButton, Input, Datepicker },
  data() {
    return {
      loading: true,
      name: '0',
      name1: '0',
      message: '',
      message1: 'Text Field 1',
      message2: 'Text Field 2',
      message3: 'Text Field 3',
      date: '',
      date1: new Date(2016, 9,  16),
      date2: new Date(2018, 10,  15),
      customRadio: ''
    };
  },
  created: function() {
    this.loading = false;
  },
  computed:{
  },
  methods: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.container {
  margin: 50px 100px;
  padding: 50px 25px;
  text-align: left;
  border: 1px solid #332d2d;
}
.flex {
  display: flex;
  flex-direction: row;  
  justify-content: flex-start;
}
button{
  margin: 15px 0 15px auto;
  flex:0.25
}
</style>
<style lang="scss">
.date-picker input{
  margin: 0 10px;
  padding: 5px;
}
</style>
