<template>
  <input :id="id" :value="value" @change="e => this.$emit('input', e.target.value)" :placeholder="placeholder" class="input">     
</template>

<script>
export default {
  name: "Input",
  props: ['id', 'value', 'placeholder'],
  data() {
    return {
    };
  },
  methods: {
  }
};
</script>


<style lang="scss" scoped>
.input {
    margin: 10px;
    padding: 5px;
}
</style>