<template>
<div class="radio">
  <label :for="id">
      <input
        :id="id"
        v-model="radioButtonValue"
        :name="name"
        :disabled="disabled"
        type="radio"
        :value="value"
      >
      <span v-if="$scopedSlots.radioComponent && radioButtonValue">
        <slot name="radioComponent" />
      </span>
      <span v-else>
      {{ label }}
      </span>
    </label>
</div>
</template>

<script>
export default {
  name: "RadioButton",
  inheritAttrs: false,
  model: {
      prop: 'checked',
      event: 'change'
  },
  props: ['id', 'value', 'label', 'name', 'disabled', 'checked'],
  data() {
    return {
    };
  },
  computed: {
      radioButtonValue: {
        get () {
          if (this.checked === this.value) {
              return this.value;
          }
          return '';
        },
        set () {
          this.$emit('change', this.value);
        }
      }
  }
};
</script>


<style lang="scss" scoped>
.radio{
  margin-top: 10px;
}
</style>